body{
	line-height: 16px;
	padding: 10px;
}

.formbox{
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: auto;
	padding: 16px;
	width: 500px;
}

.td2{
	text-align:center;
}

#hash,#link_text{
	width: 466px;
}
